.bodyclassmy {
  background-color: rgb(245, 245, 245);
}

.container {
  /* border: 1px solid black; */
}

/* <!-- SEARCH AND FILTER PORTIONS STARTS HERE =----------> */
#triptype,
#travellers,
.topbtn,
.planeclassid {
  border: none;
  background-color: rgb(245, 245, 245);
  color: rgb(15, 131, 146);
}

#topfilterbuttonoptions>div>button,
#topfilterbuttonoptions>div>sel {
  border: none;
  color: rgb(15, 131, 146);
  background-color: rgb(245, 245, 245);
}

.travellersdropdown.travellersdropdown {
  flex-wrap: wrap;
  width: 265px;
  font-size: 14px;
  padding: 20px;
  border-radius: 10px;
  color: rgb(78, 78, 78);
}

.travellersdropdown.travellersdropdown {
  padding: 10px;
}

.travellersdropdown>li {
  margin: 10px;
}

.travelerstext>p {
  margin: 0px;
}

.travelersdiv {
  display: flex;
  justify-content: space-between;
}

.travelersbtns {
  display: flex;
  align-items: baseline;
}

#triptype option {
  color: black;
  padding-inline: 200px;
  padding-block: 5px;
}

#topfilterbuttonoptions * {
  font-size: 14px;
}

.minusbtn,
.plusbtn {
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  border: 1px solid rgb(136, 136, 136);
}

.passangercount {
  padding-inline: 10px;
}

.planeclassid {
  width: 85px;
  border: none;
  color: rgb(15, 131, 146);
}

.planeclassid>option {
  color: black;
}

.travelpopupbtndiv {
  text-align: center;
}

.travelpopupbtndiv button {
  width: 40%;
}

.moredropdownoption * {
  width: 70px;
  display: flex;
  align-items: baseline;
  justify-content: left;
  padding: 0px 10px;
}

.moredropdownoption>li {
  width: 70px;
}

.moredropdownoption p {
  padding-left: 10px;
}

/* <!--=------------------- RESULTS PORTION ---------------------> */
#filtersandresults {
  display: flex;
}

#filter {
  width: 265px;
  padding-right: 5px;
  margin: 10px;
  border: 1px solid red;
}

#chooseflighttype {
  overflow-x: hidden;
  overflow-y: hidden;
  word-wrap: break-word;
  justify-content: start;
  align-items: none;
  /* display: flex; */
}

#resultsouterdiv {
  padding: 5px;
}

#chooseflighttype span {
  width: max-content;
}

.currentlyactive {
  font-weight: bold;
}

.flexdatepanel {
  margin: 20px 0px;
  display: flex;
  background-color: white;
  padding: 10px 20px;
  align-items: baseline;
  justify-content: space-between;

}

#flexibledatepanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mymodalbtn {
  background-color: white;
}

.flexibledateheading {
  font-weight: bold;
  font-size: 16px;
}

.compareprices {
  font-size: 12px;
}

#flexibledatearrow {
  margin: auto;
  margin-right: 10px;
  justify-content: right;
}

#horizontaldivforupperportion {
  margin-block: 10px;
}

#disclouser {
  font-size: 12px;
}

#disclouserandsorting {
  display: flex;
  padding: 10px 20px;
  text-align: left;
  align-items: flex-end;
}

#selectsorting {
  padding-block: 10px;
}

#filtersection {
  padding: 5px;
}

#filterby {
  font-size: 18px;
  font-weight: bold;
}

.timefilter {
  justify-content: start;
  margin: auto;
}

.timefilterheading {
  font-weight: bold;
  margin-block: 20px;
}

.btndaytime.btndaytime.btndaytime {
  padding: 0px;
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid black;
  width: 45%;
}

.daytimeimage {
  width: 50px;
  /* height: 50px; */
}

.daytimeimage>p {
  margin: 0px;
}

.daysagment {
  font-size: 10px;
  margin: 0px;
  font-weight: bold;
}

.timesagment {
  font-size: 10px;
}

.flightlogoinresults {
  width: 20px;
}

.timing.timing {
  display: block;
  text-align: start;
}

.pricing.pricing {
  display: block;
}

.flightresult {
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.flightresult * {
  margin: 2px;
}

.deparrtime {
  font-weight: bold;
  font-size: 14px;
}

.traveldestinations {
  font-size: 12px;
}

.multipleplanes {
  font-size: 12px;
}

.price {
  font-weight: bold;
  font-size: 24px;
}

.pricing {
  text-align: right;
}

.promo {
  color: rgb(141, 0, 153);
}

.makecircle {
  border-radius: 50%;
}

.deparrtime {
  font-size: 18px;
}

.triptyperesult {
  font-size: 12px;
}

.promo {
  font-size: 14px;
}

.duration {
  font-size: 14px;
}

#timingincard {
  font-size: 14px;
  font-weight: bold;
}

.bold22pxcard {
  font-size: 22px;
  font-weight: bold;
}

.card14px {
  font-size: 14px;
}

#showdetails {
  color: rgb(15, 131, 146);
}

#ratecard {
  border: 1px solid grey;
  padding: 15px 5px;
  margin-top: 10px;
}

.carddetails {
  display: flex;
  justify-content: space-between;
}

.carddetails * {
  font-size: 14px;
}

#submitbutton {
  width: 100%;
  background-color: rgb(200, 50, 89);
  border: none;
}

#headingoffilter {
  font-size: 20px;
  font-weight: bold;
}

.airlinediv {
  display: flex;
  align-items: baseline;
}

.airlinename {
  margin-left: 10px;
}

@media only screen and (max-width: 800px) {
  #topfilterbuttonoptions {
    display: none;
  }

  #filtersection {
    display: none;
  }

  #sortingdiv {
    display: none;
  }

  /* .resultportions{
    padding: 0px;
  } */
  /* .mymodalbtn{
    padding: 0%;
  } */
  .promo {
    display: none;
  }

  #resultsouterdiv {
    padding: 0px;
  }
}