
#serachItem {
    position: absolute;
    display: none;
     
    left: 3%;
    top: 118px;
   
    width: 31.1%;
    background-color:white;
border: 1px solid #999999;
    overflow: hidden;
    max-height: 350px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
#flightBox{
    
    position: relative;
}
#serachItem>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 40px; */
    /* margin: 10px; */
    /* padding: 20px; */
 
  
}
#serachItem>div h4{
    font-weight: bold;
    font-size: 18px;
    margin: 0px auto;
}
#serachItem>div>div{
    margin-right: 10px;
}
#serachItem>div:hover{
    background-color: aquamarine;
}
#serachItem hr{
    margin: 0;
}
#landingDiv{
        position: absolute;
            display: none;
        
            left:  35.3%;
            top: 118px;
           
            width: 31.1%;
            background-color: white;
            border: 1px solid #999999;
            overflow: hidden;
            max-height: 350px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
}
#landingDiv>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 40px; */
    /* margin: 10px; */
    /* padding: 20px; */


}

#landingDiv>div h4 {
    font-weight: bold;
    font-size: 18px;
    margin: 0px auto;
}

#landingDiv>div>div {
    margin-right: 10px;
}

#landingDiv>div:hover {
    background-color: aquamarine;
}

#landingDiv hr {
    margin: 0;
}

.homePage{
        font-size: 1.125rem !important;
            font-weight: 700 !important;
            line-height: 1.375rem !important;
}
#account{
    text-align: center;
}
.indexPageSignIn>div>p{
    display: block;
    margin: 0;
}
#account>button{
    background-color: #757575;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.bucks{
    font-size: 18px !important;
    font-weight: 700 !important;
}
