span{
    /* content: "\2190"; */
    color:blue;
    left: 2%;
}
/* .glyphicon-arrow-left{
    height: 10px;
    width: 30px;
} */
.logod{
    width: 100%;
    text-align: center;
}
#logoi{
    width: 15%;
}
#navbar{
    display: flex;
    margin-top: 1%;
    /* border: 0px 1px 2px 3px solid grey; */
}
.cbox{
    display: flex;
}
#loginblock{
    /* text-align: center; */
    /* border: 1px solid teal; */
    width: 30%;
    margin: auto;
    /* height: 60vw; */

}
.cbox{
    /* text-align: center; */
    /* border: 1px solid red; */
    width: max-content;

    /* margin: auto; */
}
input{
    width: 100%;
    margin-bottom: 4%;
    height: 45px;
    
   }
.cbox>input{
    width: auto;
    height: auto;
}
.signdiv{
    text-align: center;
}
#bu{
    color-scheme:red ;
}